/*
!/.gitignore
!/.config/
/.config/*
!/.config/bat/
!/.config/bottom/
!/.config/bpython/
!/.config/cava/
!/.config/dunst/
!/.config/fd/
!/.config/fish/
!/.config/gtk-3.0/
!/.config/hypr/
!/.config/kitty/
!/.config/lsd/
!/.config/mpv/
!/.config/neofetch/
!/.config/nvim/
!/.config/rofi/
!/.config/s-tui/
!/.config/swappy/
!/.config/systemd/
!/.config/waybar/
!/.config/starship.toml
!/.data
!/.nethackrc
!/.pythonhist
!/.watchtime
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/fish/
/.local/share/fish/fish_history
!/.local/share/applications/
!/.local/share/rofi/
!/.themes/
/.themes/*
/.themes/Sweet-Dark-v40/
/.themes/Sweet-Dark-v40/*
/.themes/Sweet-Dark-v40.zip
!/Code/

# On enlève Pictures et Videos parce que git scan individuellemet toutes les images
# et tous les films, ce qui prend un temps de ouf
/Musique/
/Pictures/
/Videos/
!/.gitconfig
!/.pylintrc
