
//@theme "/home/caracole/.local/share/rofi/themes/rounded-purple-dark.rasi"

//@theme "/home/caracole/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/caracole/.local/share/rofi/themes/rounded-purple-dark.rasi"

@theme "/home/caracole/.local/share/rofi/themes/spotlight-dark.rasi"
