[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=prime-run mpv %f
Name=prime-run mpv
Comment=Définition personnalisée pour prime-run mpv
